ADF-dev-tcs/linkedTemplates/ArmTemplate_1.json
{
    "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "factoryName": {
            "type": "string",
            "metadata": "Data Factory Name",
            "defaultValue": "adf-tcsteg-batchingestion-t02"
        },
        "DS_CopySink_ABLB_Preprocess_TextFiles_properties_typeProperties_fileName": {
            "type": "string",
            "defaultValue": "@item().name"
        },
        "DS_CopySink_ABLB_Preprocess_TextFiles_properties_typeProperties_folderPath": {
            "type": "string",
            "defaultValue": "@dataset().ABLB_Preprocess"
        },
        "DS_CopySrc_ABLB_Landing_GZipFiles_properties_typeProperties_fileName": {
            "type": "string",
            "defaultValue": "@item().name"
        },
        "DS_CopySrc_ABLB_Landing_GZipFiles_properties_typeProperties_folderPath": {
            "type": "string",
            "defaultValue": "@dataset().Landing"
        },
        "DS_CopySink_ABLB_Preprocess_GZipFiles_properties_typeProperties_folderPath": {
            "type": "string",
            "defaultValue": "@dataset().ABLB_Preprocess"
        },
        "DS_CopySrc_ABLB_Preprocess_ZipFiles_properties_typeProperties_fileName": {
            "type": "string",
            "defaultValue": "@item().name"
        },
        "DS_CopySrc_ABLB_Preprocess_ZipFiles_properties_typeProperties_folderPath": {
            "type": "string",
            "defaultValue": "@dataset().ABLB_Landing"
        },
        "DS_CopySink_ABLB_Preprocess_ZipFiles_properties_typeProperties_folderPath": {
            "type": "string",
            "defaultValue": "@dataset().ABLB_Preprocess"
        },
        "DS_CopySink_ABLB_Archive_AnyFiles_properties_typeProperties_fileName": {
            "type": "string",
            "defaultValue": "@item().name"
        },
        "DS_CopySink_ABLB_Archive_AnyFiles_properties_typeProperties_folderPath": {
            "type": "string",
            "defaultValue": "@dataset().ABLB_Archive"
        },
        "DS_CopySrc_ABLB_Landing_AnyFiles_properties_typeProperties_fileName": {
            "type": "string",
            "defaultValue": "@item().name"
        },
        "DS_CopySrc_ABLB_Landing_AnyFiles_properties_typeProperties_folderPath": {
            "type": "string",
            "defaultValue": "@dataset().ABLB_Landing"
        },
        "DS_ABLB_Landing_BDW_properties_typeProperties_fileName": {
            "type": "string",
            "defaultValue": ""
        },
        "DS_ABLB_Landing_BDW_properties_typeProperties_folderPath": {
            "type": "string",
            "defaultValue": "@pipeline().parameters.Source"
        },
        "DS_ADLS_BDW_properties_typeProperties_fileName": {
            "type": "string",
            "defaultValue": ""
        },
        "DS_ADLS_BDW_properties_typeProperties_folderPath": {
            "type": "string",
            "defaultValue": " @pipeline().parameters.Target"
        },
        "DS_ADLS_InBound_properties_typeProperties_fileName": {
            "type": "string",
            "defaultValue": "@item().name"
        },
        "DS_ADLS_InBound_properties_typeProperties_folderPath": {
            "type": "string",
            "defaultValue": "@pipeline().parameters.ADLS_Input_file_full_path"
        },
        "DS_Copy_ABLB_RawData_Source_properties_typeProperties_fileName": {
            "type": "string",
            "defaultValue": "@item().name"
        },
        "DS_Copy_ABLB_RawData_Source_properties_typeProperties_folderPath": {
            "type": "string",
            "defaultValue": "@pipeline().parameters.rawdata_file_full_path"
        },
        "DS_GeMetaData_ABLB_RawData_Source_properties_typeProperties_folderPath": {
            "type": "string",
            "defaultValue": "@pipeline().parameters.rawdata_file_full_path"
        },
        "AzureBlob1_properties_typeProperties_fileName": {
            "type": "string",
            "defaultValue": ""
        },
        "AzureBlob1_properties_typeProperties_folderPath": {
            "type": "string",
            "defaultValue": "landing/EDW"
        }
    },
    "variables": {
        "factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
    },
    "resources": [
        {
            "name": "[concat(parameters('factoryName'), '/DS_CopySink_ABLB_Preprocess_TextFiles')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "LS_ABLB_AzureStorage",
                    "type": "LinkedServiceReference"
                },
                "parameters": {
                    "ABLB_Preprocess": {
                        "type": "string",
                        "defaultValue": "@pipeline().parameters.preprocess_file_full_path"
                    }
                },
                "folder": {
                    "name": "FLD_DynPath_ABLB_To_ADLS_DI"
                },
                "annotations": [],
                "type": "AzureBlob",
                "typeProperties": {
                    "format": {
                        "type": "TextFormat",
                        "columnDelimiter": ",",
                        "rowDelimiter": "",
                        "nullValue": "\\N",
                        "treatEmptyAsNull": true,
                        "skipLineCount": 0,
                        "firstRowAsHeader": false
                    },
                    "fileName": {
                        "value": "[parameters('DS_CopySink_ABLB_Preprocess_TextFiles_properties_typeProperties_fileName')]",
                        "type": "Expression"
                    },
                    "folderPath": {
                        "value": "[parameters('DS_CopySink_ABLB_Preprocess_TextFiles_properties_typeProperties_folderPath')]",
                        "type": "Expression"
                    }
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/DS_CopySrc_ABLB_Landing_GZipFiles')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "description": "DataSet of CopyData Azure Blob for Landing - GZip File",
                "linkedServiceName": {
                    "referenceName": "LS_ABLB_AzureStorage",
                    "type": "LinkedServiceReference"
                },
                "parameters": {
                    "Landing": {
                        "type": "string",
                        "defaultValue": "@pipeline().parameters.landing_file_full_path"
                    }
                },
                "folder": {
                    "name": "FLD_DynPath_ABLB_To_ADLS_DI"
                },
                "annotations": [],
                "type": "AzureBlob",
                "typeProperties": {
                    "compression": {
                        "type": "GZip",
                        "level": "Fastest"
                    },
                    "fileName": {
                        "value": "[parameters('DS_CopySrc_ABLB_Landing_GZipFiles_properties_typeProperties_fileName')]",
                        "type": "Expression"
                    },
                    "folderPath": {
                        "value": "[parameters('DS_CopySrc_ABLB_Landing_GZipFiles_properties_typeProperties_folderPath')]",
                        "type": "Expression"
                    }
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/DS_CopySink_ABLB_Landing_GZipFiles')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "description": "DataSet of CopyData Azure Blob for Landing - GZip File",
                "linkedServiceName": {
                    "referenceName": "LS_ABLB_AzureStorage",
                    "type": "LinkedServiceReference"
                },
                "folder": {
                    "name": "FLD_DynPath_ABLB_To_ADLS_DI"
                },
                "annotations": [],
                "type": "AzureBlob",
                "typeProperties": {
                    "format": {
                        "type": "TextFormat",
                        "columnDelimiter": ",",
                        "rowDelimiter": "",
                        "nullValue": "\\N",
                        "treatEmptyAsNull": true,
                        "skipLineCount": 0,
                        "firstRowAsHeader": false
                    }
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/DS_CopySink_ABLB_Preprocess_GZipFiles')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "LS_ABLB_AzureStorage",
                    "type": "LinkedServiceReference"
                },
                "parameters": {
                    "ABLB_Preprocess": {
                        "type": "string",
                        "defaultValue": "@pipeline().parameters.preprocess_file_full_path"
                    }
                },
                "folder": {
                    "name": "FLD_DynPath_ABLB_To_ADLS_DI"
                },
                "annotations": [],
                "type": "AzureBlob",
                "typeProperties": {
                    "format": {
                        "type": "TextFormat",
                        "columnDelimiter": ",",
                        "rowDelimiter": "",
                        "nullValue": "\\N",
                        "treatEmptyAsNull": true,
                        "skipLineCount": 0,
                        "firstRowAsHeader": false
                    },
                    "folderPath": {
                        "value": "[parameters('DS_CopySink_ABLB_Preprocess_GZipFiles_properties_typeProperties_folderPath')]",
                        "type": "Expression"
                    }
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/DS_CopySrc_ABLB_Preprocess_ZipFiles')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "description": "DataSet of CopyData Azure Blob for Preprocess\n",
                "linkedServiceName": {
                    "referenceName": "LS_ABLB_AzureStorage",
                    "type": "LinkedServiceReference"
                },
                "parameters": {
                    "ABLB_Landing": {
                        "type": "string",
                        "defaultValue": "@pipeline().parameters.landing_file_full_path"
                    }
                },
                "folder": {
                    "name": "FLD_DynPath_ABLB_To_ADLS_DI"
                },
                "annotations": [],
                "type": "AzureBlob",
                "typeProperties": {
                    "compression": {
                        "type": "ZipDeflate"
                    },
                    "fileName": {
                        "value": "[parameters('DS_CopySrc_ABLB_Preprocess_ZipFiles_properties_typeProperties_fileName')]",
                        "type": "Expression"
                    },
                    "folderPath": {
                        "value": "[parameters('DS_CopySrc_ABLB_Preprocess_ZipFiles_properties_typeProperties_folderPath')]",
                        "type": "Expression"
                    }
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/DS_CopySink_ABLB_Preprocess_ZipFiles')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "LS_ABLB_AzureStorage",
                    "type": "LinkedServiceReference"
                },
                "parameters": {
                    "ABLB_Preprocess": {
                        "type": "string",
                        "defaultValue": "@pipeline().parameters.preprocess_file_full_path"
                    }
                },
                "folder": {
                    "name": "FLD_DynPath_ABLB_To_ADLS_DI"
                },
                "annotations": [],
                "type": "AzureBlob",
                "typeProperties": {
                    "folderPath": {
                        "value": "[parameters('DS_CopySink_ABLB_Preprocess_ZipFiles_properties_typeProperties_folderPath')]",
                        "type": "Expression"
                    }
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/DS_CopySink_ABLB_Archive_AnyFiles')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "description": "DataSet of CopyData Azure Blob for Archive",
                "linkedServiceName": {
                    "referenceName": "LS_ABLB_AzureStorage",
                    "type": "LinkedServiceReference"
                },
                "parameters": {
                    "ABLB_Archive": {
                        "type": "string",
                        "defaultValue": "@pipeline().parameters.archive_file_full_path"
                    }
                },
                "folder": {
                    "name": "FLD_DynPath_ABLB_To_ADLS_DI"
                },
                "annotations": [],
                "type": "AzureBlob",
                "typeProperties": {
                    "fileName": {
                        "value": "[parameters('DS_CopySink_ABLB_Archive_AnyFiles_properties_typeProperties_fileName')]",
                        "type": "Expression"
                    },
                    "folderPath": {
                        "value": "[parameters('DS_CopySink_ABLB_Archive_AnyFiles_properties_typeProperties_folderPath')]",
                        "type": "Expression"
                    }
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/DS_CopySrc_ABLB_Landing_AnyFiles')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "description": "DataSet of CopyData Azure Blob for Landing",
                "linkedServiceName": {
                    "referenceName": "LS_ABLB_AzureStorage",
                    "type": "LinkedServiceReference"
                },
                "parameters": {
                    "ABLB_Landing": {
                        "type": "string",
                        "defaultValue": "@pipeline().parameters.landing_file_full_path"
                    }
                },
                "folder": {
                    "name": "FLD_DynPath_ABLB_To_ADLS_DI"
                },
                "annotations": [],
                "type": "AzureBlob",
                "typeProperties": {
                    "fileName": {
                        "value": "[parameters('DS_CopySrc_ABLB_Landing_AnyFiles_properties_typeProperties_fileName')]",
                        "type": "Expression"
                    },
                    "folderPath": {
                        "value": "[parameters('DS_CopySrc_ABLB_Landing_AnyFiles_properties_typeProperties_folderPath')]",
                        "type": "Expression"
                    }
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/DS_ABLB_Landing_BDW')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "LS_ABLB_AzureStorage",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "AzureBlob",
                "typeProperties": {
                    "fileName": "[parameters('DS_ABLB_Landing_BDW_properties_typeProperties_fileName')]",
                    "folderPath": {
                        "value": "[parameters('DS_ABLB_Landing_BDW_properties_typeProperties_folderPath')]",
                        "type": "Expression"
                    }
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/DS_ADLS_BDW')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "AzureDataLakeStore1",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "AzureDataLakeStoreFile",
                "typeProperties": {
                    "fileName": "[parameters('DS_ADLS_BDW_properties_typeProperties_fileName')]",
                    "folderPath": "[parameters('DS_ADLS_BDW_properties_typeProperties_folderPath')]"
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/DS_ADLS_InBound')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "AzureDataLakeStore1",
                    "type": "LinkedServiceReference"
                },
                "folder": {
                    "name": "FLD_DynPath_ABLB_To_ADLS_DI"
                },
                "annotations": [],
                "type": "AzureDataLakeStoreFile",
                "typeProperties": {
                    "fileName": {
                        "value": "[parameters('DS_ADLS_InBound_properties_typeProperties_fileName')]",
                        "type": "Expression"
                    },
                    "folderPath": {
                        "value": "[parameters('DS_ADLS_InBound_properties_typeProperties_folderPath')]",
                        "type": "Expression"
                    }
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/DS_Copy_ABLB_RawData_Source')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "description": "PL_Data_Ingestion_With_ABLB\nDataSet for Azure Blob Rawdata Source of ACT_Copy",
                "linkedServiceName": {
                    "referenceName": "LS_ABLB_AzureStorage",
                    "type": "LinkedServiceReference"
                },
                "folder": {
                    "name": "FLD_DynPath_ABLB_To_ADLS_DI"
                },
                "annotations": [],
                "type": "AzureBlob",
                "typeProperties": {
                    "fileName": {
                        "value": "[parameters('DS_Copy_ABLB_RawData_Source_properties_typeProperties_fileName')]",
                        "type": "Expression"
                    },
                    "folderPath": {
                        "value": "[parameters('DS_Copy_ABLB_RawData_Source_properties_typeProperties_folderPath')]",
                        "type": "Expression"
                    }
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/DS_GeMetaData_ABLB_RawData_Source')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "description": "PL_Data_Ingestion_With_ABLB\nDataSet for Azure Blob Rawdata Source of ACT_Copy",
                "linkedServiceName": {
                    "referenceName": "LS_ABLB_AzureStorage",
                    "type": "LinkedServiceReference"
                },
                "folder": {
                    "name": "FLD_DynPath_ABLB_To_ADLS_DI"
                },
                "annotations": [],
                "type": "AzureBlob",
                "typeProperties": {
                    "format": {
                        "type": "TextFormat",
                        "columnDelimiter": ",",
                        "rowDelimiter": "",
                        "treatEmptyAsNull": true,
                        "skipLineCount": 0,
                        "firstRowAsHeader": false
                    },
                    "folderPath": {
                        "value": "[parameters('DS_GeMetaData_ABLB_RawData_Source_properties_typeProperties_folderPath')]",
                        "type": "Expression"
                    }
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/AzureBlob1')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "LS_ABLB_AzureStorage",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "AzureBlob",
                "typeProperties": {
                    "format": {
                        "type": "TextFormat",
                        "columnDelimiter": ",",
                        "rowDelimiter": "",
                        "treatEmptyAsNull": true,
                        "skipLineCount": 0,
                        "firstRowAsHeader": false
                    },
                    "fileName": "[parameters('AzureBlob1_properties_typeProperties_fileName')]",
                    "folderPath": "[parameters('AzureBlob1_properties_typeProperties_folderPath')]"
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/PL_TCS_ABLB_To_ADLS_Data_Ingestion')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "description": "Pipeline for Data ingestion from Azure Blob and Azure Data Lake Service",
                "activities": [
                    {
                        "name": "ACT_Get_Metadata_ABLB",
                        "description": "Actitivity to get the Metadata of Azure Blob",
                        "type": "GetMetadata",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [
                            {
                                "name": "ChildItem",
                                "value": "ChildValue"
                            }
                        ],
                        "typeProperties": {
                            "dataset": {
                                "referenceName": "DS_BLOB_Input_Landing_All_Files",
                                "type": "DatasetReference",
                                "parameters": {
                                    "Source": "EDW"
                                }
                            },
                            "fieldList": [
                                "childItems",
                                "itemType"
                            ]
                        }
                    },
                    {
                        "name": "ACT_ForEach_Data_Ingestion",
                        "description": "Acitivity ForEach file ingestion \n(1) From Landing to Preprocess\n(2) From Landing to Archive(Backup)\n(3) Cleanup Landing\nData_Ingestion",
                        "type": "ForEach",
                        "dependsOn": [
                            {
                                "activity": "ACT_Get_Metadata_ABLB",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [
                            {
                                "name": "SourceContainer",
                                "value": "preprocess"
                            },
                            {
                                "name": "TargetContainer",
                                "value": "rawdata"
                            },
                            {
                                "name": "CosmosDBDocName",
                                "value": "mother"
                            }
                        ],
                        "typeProperties": {
                            "items": {
                                "value": "@activity('ACT_Get_Metadata_ABLB').output.childItems",
                                "type": "Expression"
                            },
                            "isSequential": false,
                            "activities": [
                                {
                                    "name": "ACT_If_Condition_Text_File",
                                    "description": "Activity If Condition to filter only Text Files",
                                    "type": "IfCondition",
                                    "dependsOn": [],
                                    "userProperties": [],
                                    "typeProperties": {
                                        "expression": {
                                            "value": "@if(endswith(item().name,'.txt'),'true','false')",
                                            "type": "Expression"
                                        },
                                        "ifTrueActivities": [
                                            {
                                                "name": "ACT_03_Copy_ABLB_Landing_To_ABLB_Preprocess",
                                                "description": "Azure File Shared file in Azure Storage\n from Landing to Preprocess",
                                                "type": "Copy",
                                                "dependsOn": [],
                                                "policy": {
                                                    "timeout": "7.00:00:00",
                                                    "retry": 0,
                                                    "retryIntervalInSeconds": 30,
                                                    "secureOutput": false,
                                                    "secureInput": false
                                                },
                                                "userProperties": [],
                                                "typeProperties": {
                                                    "source": {
                                                        "type": "BlobSource",
                                                        "recursive": true
                                                    },
                                                    "sink": {
                                                        "type": "BlobSink"
                                                    },
                                                    "enableStaging": false
                                                },
                                                "inputs": [
                                                    {
                                                        "referenceName": "DS_BLOB_ForEach_Input_Landing_AnyFile",
                                                        "type": "DatasetReference",
                                                        "parameters": {}
                                                    }
                                                ],
                                                "outputs": [
                                                    {
                                                        "referenceName": "DS_BLOB_Output_Preprocess",
                                                        "type": "DatasetReference",
                                                        "parameters": {}
                                                    }
                                                ]
                                            },
                                            {
                                                "name": "ACT_Copy_TextFile_BlbLanding_to_Archive",
                                                "type": "Copy",
                                                "dependsOn": [
                                                    {
                                                        "activity": "ACT_03_Copy_ABLB_Landing_To_ABLB_Preprocess",
                                                        "dependencyConditions": [
                                                            "Succeeded"
                                                        ]
                                                    }
                                                ],
                                                "policy": {
                                                    "timeout": "7.00:00:00",
                                                    "retry": 0,
                                                    "retryIntervalInSeconds": 30,
                                                    "secureOutput": false,
                                                    "secureInput": false
                                                },
                                                "userProperties": [],
                                                "typeProperties": {
                                                    "source": {
                                                        "type": "BlobSource",
                                                        "recursive": true
                                                    },
                                                    "sink": {
                                                        "type": "BlobSink"
                                                    },
                                                    "enableStaging": false
                                                },
                                                "inputs": [
                                                    {
                                                        "referenceName": "DS_BLOB_ForEach_Input_Landing_AnyFile",
                                                        "type": "DatasetReference",
                                                        "parameters": {}
                                                    }
                                                ],
                                                "outputs": [
                                                    {
                                                        "referenceName": "DS_Copy_AnyFile_Landing_To_Archive",
                                                        "type": "DatasetReference",
                                                        "parameters": {}
                                                    }
                                                ]
                                            },
                                            {
                                                "name": "ACT_Delete_TextFile_BlbLanding",
                                                "type": "Delete",
                                                "dependsOn": [
                                                    {
                                                        "activity": "ACT_Copy_TextFile_BlbLanding_to_Archive",
                                                        "dependencyConditions": [
                                                            "Succeeded"
                                                        ]
                                                    }
                                                ],
                                                "policy": {
                                                    "timeout": "7.00:00:00",
                                                    "retry": 0,
                                                    "retryIntervalInSeconds": 30,
                                                    "secureOutput": false,
                                                    "secureInput": false
                                                },
                                                "userProperties": [],
                                                "typeProperties": {
                                                    "dataset": {
                                                        "referenceName": "DS_BLOB_ForEach_Input_Landing_AnyFile",
                                                        "type": "DatasetReference",
                                                        "parameters": {}
                                                    },
                                                    "enableLogging": false
                                                }
                                            }
                                        ]
                                    }
                                },
                                {
                                    "name": "ACT_If_Condition_GZip_File",
                                    "description": "Activity If Condition to filter only GZip Files",
                                    "type": "IfCondition",
                                    "dependsOn": [],
                                    "userProperties": [],
                                    "typeProperties": {
                                        "expression": {
                                            "value": "@if(endswith(item().name,'.gz'),'true','false')",
                                            "type": "Expression"
                                        },
                                        "ifTrueActivities": [
                                            {
                                                "name": "ACT_Copy_GZip_BlbLanding_To_BlbPrepreocess",
                                                "description": "Azure GZip file from Blob_Landing to Blob_Preprocess",
                                                "type": "Copy",
                                                "dependsOn": [],
                                                "policy": {
                                                    "timeout": "7.00:00:00",
                                                    "retry": 0,
                                                    "retryIntervalInSeconds": 30,
                                                    "secureOutput": false,
                                                    "secureInput": false
                                                },
                                                "userProperties": [],
                                                "typeProperties": {
                                                    "source": {
                                                        "type": "BlobSource",
                                                        "recursive": true
                                                    },
                                                    "sink": {
                                                        "type": "BlobSink"
                                                    },
                                                    "enableStaging": false
                                                },
                                                "inputs": [
                                                    {
                                                        "referenceName": "DS_BLOB_Input_Landing_GZip_File",
                                                        "type": "DatasetReference",
                                                        "parameters": {}
                                                    }
                                                ],
                                                "outputs": [
                                                    {
                                                        "referenceName": "DS_BLOB_Output_Preprocess",
                                                        "type": "DatasetReference",
                                                        "parameters": {}
                                                    }
                                                ]
                                            },
                                            {
                                                "name": "ACT_Copy_GZip_File_BlbLanding_To__File_BlbArchive",
                                                "type": "Copy",
                                                "dependsOn": [
                                                    {
                                                        "activity": "ACT_Copy_GZip_BlbLanding_To_BlbPrepreocess",
                                                        "dependencyConditions": [
                                                            "Succeeded"
                                                        ]
                                                    }
                                                ],
                                                "policy": {
                                                    "timeout": "7.00:00:00",
                                                    "retry": 0,
                                                    "retryIntervalInSeconds": 30,
                                                    "secureOutput": false,
                                                    "secureInput": false
                                                },
                                                "userProperties": [],
                                                "typeProperties": {
                                                    "source": {
                                                        "type": "BlobSource",
                                                        "recursive": true
                                                    },
                                                    "sink": {
                                                        "type": "BlobSink"
                                                    },
                                                    "enableStaging": false
                                                },
                                                "inputs": [
                                                    {
                                                        "referenceName": "DS_BLOB_ForEach_Input_Landing_AnyFile",
                                                        "type": "DatasetReference",
                                                        "parameters": {}
                                                    }
                                                ],
                                                "outputs": [
                                                    {
                                                        "referenceName": "DS_Copy_AnyFile_Landing_To_Archive",
                                                        "type": "DatasetReference",
                                                        "parameters": {}
                                                    }
                                                ]
                                            },
                                            {
                                                "name": "ACT_Delete_GZip_File_BlbLanding",
                                                "type": "Delete",
                                                "dependsOn": [
                                                    {
                                                        "activity": "ACT_Copy_GZip_File_BlbLanding_To__File_BlbArchive",
                                                        "dependencyConditions": [
                                                            "Succeeded"
                                                        ]
                                                    }
                                                ],
                                                "policy": {
                                                    "timeout": "7.00:00:00",
                                                    "retry": 0,
                                                    "retryIntervalInSeconds": 30,
                                                    "secureOutput": false,
                                                    "secureInput": false
                                                },
                                                "userProperties": [],
                                                "typeProperties": {
                                                    "dataset": {
                                                        "referenceName": "DS_BLOB_ForEach_Input_Landing_AnyFile",
                                                        "type": "DatasetReference",
                                                        "parameters": {}
                                                    },
                                                    "enableLogging": false
                                                }
                                            }
                                        ]
                                    }
                                },
                                {
                                    "name": "ACT_If_Condition_ZIP_File",
                                    "description": "Activity If Condition to filter only Zip Files",
                                    "type": "IfCondition",
                                    "dependsOn": [],
                                    "userProperties": [],
                                    "typeProperties": {
                                        "expression": {
                                            "value": "@if(endswith(item().name,'.zip'),'true','false')",
                                            "type": "Expression"
                                        },
                                        "ifTrueActivities": [
                                            {
                                                "name": "ACT_Copy_Zip_BlbLanding_To_BlbPrepreocess",
                                                "description": "Azure Zip file from Blob_Landing to Blob_Preprocess",
                                                "type": "Copy",
                                                "dependsOn": [],
                                                "policy": {
                                                    "timeout": "7.00:00:00",
                                                    "retry": 0,
                                                    "retryIntervalInSeconds": 30,
                                                    "secureOutput": false,
                                                    "secureInput": false
                                                },
                                                "userProperties": [],
                                                "typeProperties": {
                                                    "source": {
                                                        "type": "BlobSource",
                                                        "recursive": true
                                                    },
                                                    "sink": {
                                                        "type": "BlobSink"
                                                    },
                                                    "enableStaging": false
                                                },
                                                "inputs": [
                                                    {
                                                        "referenceName": "DS_BLOB_Input_Landing_Zip_File",
                                                        "type": "DatasetReference",
                                                        "parameters": {}
                                                    }
                                                ],
                                                "outputs": [
                                                    {
                                                        "referenceName": "DS_BLOB_Output_Preprocess",
                                                        "type": "DatasetReference",
                                                        "parameters": {}
                                                    }
                                                ]
                                            },
                                            {
                                                "name": "ACT_Copy_ZipFile_BlbLanding_To_BlBArchive",
                                                "description": "Acitivity to Copy Zip File to BlbLanding to Archive Folder",
                                                "type": "Copy",
                                                "dependsOn": [
                                                    {
                                                        "activity": "ACT_Copy_Zip_BlbLanding_To_BlbPrepreocess",
                                                        "dependencyConditions": [
                                                            "Succeeded"
                                                        ]
                                                    }
                                                ],
                                                "policy": {
                                                    "timeout": "7.00:00:00",
                                                    "retry": 0,
                                                    "retryIntervalInSeconds": 30,
                                                    "secureOutput": false,
                                                    "secureInput": false
                                                },
                                                "userProperties": [],
                                                "typeProperties": {
                                                    "source": {
                                                        "type": "BlobSource",
                                                        "recursive": true
                                                    },
                                                    "sink": {
                                                        "type": "BlobSink"
                                                    },
                                                    "enableStaging": false
                                                },
                                                "inputs": [
                                                    {
                                                        "referenceName": "DS_BLOB_ForEach_Input_Landing_AnyFile",
                                                        "type": "DatasetReference",
                                                        "parameters": {}
                                                    }
                                                ],
                                                "outputs": [
                                                    {
                                                        "referenceName": "DS_Copy_AnyFile_Landing_To_Archive",
                                                        "type": "DatasetReference",
                                                        "parameters": {}
                                                    }
                                                ]
                                            },
                                            {
                                                "name": "ACT_Delete_Zip_File_BlbLanding",
                                                "description": "ACT_Delete_GZip_File_BlbLanding",
                                                "type": "Delete",
                                                "dependsOn": [
                                                    {
                                                        "activity": "ACT_Copy_ZipFile_BlbLanding_To_BlBArchive",
                                                        "dependencyConditions": [
                                                            "Succeeded"
                                                        ]
                                                    }
                                                ],
                                                "policy": {
                                                    "timeout": "7.00:00:00",
                                                    "retry": 0,
                                                    "retryIntervalInSeconds": 30,
                                                    "secureOutput": false,
                                                    "secureInput": false
                                                },
                                                "userProperties": [],
                                                "typeProperties": {
                                                    "dataset": {
                                                        "referenceName": "DS_BLOB_ForEach_Input_Landing_AnyFile",
                                                        "type": "DatasetReference",
                                                        "parameters": {}
                                                    },
                                                    "enableLogging": false
                                                }
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    },
                    {
                        "name": "ACT_CustmExcBtch_DI_Preprocess_to_Rawdata",
                        "description": "Activity Custom_Execute_Batch for execute Dot Net Application to Data Ingestion from Preprocess to Rawdata Container",
                        "type": "Custom",
                        "dependsOn": [
                            {
                                "activity": "ACT_ForEach_Data_Ingestion",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "command": "Data_Ingestion.exe",
                            "resourceLinkedService": {
                                "referenceName": "LS_ABLB_AzureStorage",
                                "type": "LinkedServiceReference"
                            },
                            "folderPath": "edl-scripts/Data_Ingestion",
                            "extendedProperties": {
                                "SourceContainer": "preprocess",
                                "TargetContainer": "rawdata"
                            },
                            "referenceObjects": {
                                "linkedServices": [],
                                "datasets": []
                            }
                        },
                        "linkedServiceName": {
                            "referenceName": "LS_BatchAccount_atategtcst09",
                            "type": "LinkedServiceReference"
                        }
                    }
                ],
                "annotations": []
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/PL_ClearnUp_ABLB')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "description": "ActDelect-Clean data from ABLB Preprocess\nActCopy-Copy data from ABLB Sorce to Landing\nActDelect-Clean data from ABLB Archive\n",
                "activities": [
                    {
                        "name": "ACT_Delete_All_ABLB_Preprocess",
                        "description": "Delete fies from Preprocess",
                        "type": "Delete",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "dataset": {
                                "referenceName": "DS_BLOB_Output_Preprocess",
                                "type": "DatasetReference",
                                "parameters": {}
                            },
                            "recursive": true,
                            "enableLogging": false
                        }
                    },
                    {
                        "name": "ACT_Copy_Files_Archive_To_Landing",
                        "description": "ACT_Copy_Files_From_Archive_To_Landing",
                        "type": "Copy",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "BlobSource",
                                "recursive": true
                            },
                            "sink": {
                                "type": "BlobSink"
                            },
                            "enableStaging": false
                        },
                        "inputs": [
                            {
                                "referenceName": "DS_ABLB_Source_AllFiles",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "DS_BLOB_Input_Landing_All_Files",
                                "type": "DatasetReference",
                                "parameters": {
                                    "Source": "EDW"
                                }
                            }
                        ]
                    },
                    {
                        "name": "ACT_Delete_All_ABLB_Archive",
                        "type": "Delete",
                        "dependsOn": [
                            {
                                "activity": "ACT_Copy_Files_Archive_To_Landing",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "dataset": {
                                "referenceName": "DS_ABLB_Archive_All_Files",
                                "type": "DatasetReference",
                                "parameters": {}
                            },
                            "recursive": true,
                            "enableLogging": false
                        }
                    },
                    {
                        "name": "ACT_Delete_All_ABLB_Rawdata",
                        "type": "Delete",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "dataset": {
                                "referenceName": "DS_ABLB_Rawdata_All_Files",
                                "type": "DatasetReference",
                                "parameters": {}
                            },
                            "recursive": true,
                            "enableLogging": false
                        }
                    }
                ],
                "annotations": []
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/PL_TCS_OnPrem_ABLB')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "description": "Pipeline for Data ingestion from Azure Blob and Azure Data Lake Service",
                "activities": [
                    {
                        "name": "ACT_Get_Metadata_ABLB",
                        "description": "Actitivity to get the Metadata of Azure Blob",
                        "type": "GetMetadata",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [
                            {
                                "name": "ChildItem",
                                "value": "ChildValue"
                            }
                        ],
                        "typeProperties": {
                            "dataset": {
                                "referenceName": "DS_BLOB_Input_Landing_All_Files",
                                "type": "DatasetReference",
                                "parameters": {
                                    "Source": "EDW"
                                }
                            },
                            "fieldList": [
                                "childItems",
                                "itemType"
                            ]
                        }
                    },
                    {
                        "name": "ACT_ForEach_Data_Ingestion",
                        "description": "Acitivity ForEach file ingestion \n(1) From Landing to Preprocess\n(2) From Landing to Archive(Backup)\n(3) Cleanup Landing\nData_Ingestion",
                        "type": "ForEach",
                        "dependsOn": [
                            {
                                "activity": "ACT_Get_Metadata_ABLB",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "items": {
                                "value": "@activity('ACT_Get_Metadata_ABLB').output.childItems",
                                "type": "Expression"
                            },
                            "isSequential": false,
                            "activities": [
                                {
                                    "name": "ACT_If_Condition_Text_File",
                                    "description": "Activity If Condition to filter only Text Files",
                                    "type": "IfCondition",
                                    "dependsOn": [],
                                    "userProperties": [],
                                    "typeProperties": {
                                        "expression": {
                                            "value": "@if(endswith(item().name,'.txt'),'true','false')",
                                            "type": "Expression"
                                        },
                                        "ifTrueActivities": [
                                            {
                                                "name": "ACT_03_Copy_ABLB_Landing_To_ABLB_Preprocess",
                                                "description": "Activity to Copy file in Azure Storage\n from Landing to Preprocess",
                                                "type": "Copy",
                                                "dependsOn": [],
                                                "policy": {
                                                    "timeout": "7.00:00:00",
                                                    "retry": 0,
                                                    "retryIntervalInSeconds": 30,
                                                    "secureOutput": false,
                                                    "secureInput": false
                                                },
                                                "userProperties": [],
                                                "typeProperties": {
                                                    "source": {
                                                        "type": "BlobSource",
                                                        "recursive": true
                                                    },
                                                    "sink": {
                                                        "type": "BlobSink"
                                                    },
                                                    "enableStaging": false
                                                },
                                                "inputs": [
                                                    {
                                                        "referenceName": "DS_BLOB_ForEach_Input_Landing_AnyFile",
                                                        "type": "DatasetReference",
                                                        "parameters": {}
                                                    }
                                                ],
                                                "outputs": [
                                                    {
                                                        "referenceName": "DS_BLOB_Output_Preprocess",
                                                        "type": "DatasetReference",
                                                        "parameters": {}
                                                    }
                                                ]
                                            },
                                            {
                                                "name": "ACT_04_Copy_TextFile_BlbLanding_to_Archive",
                                                "type": "Copy",
                                                "dependsOn": [
                                                    {
                                                        "activity": "ACT_03_Copy_ABLB_Landing_To_ABLB_Preprocess",
                                                        "dependencyConditions": [
                                                            "Succeeded"
                                                        ]
                                                    }
                                                ],
                                                "policy": {
                                                    "timeout": "7.00:00:00",
                                                    "retry": 0,
                                                    "retryIntervalInSeconds": 30,
                                                    "secureOutput": false,
                                                    "secureInput": false
                                                },
                                                "userProperties": [],
                                                "typeProperties": {
                                                    "source": {
                                                        "type": "BlobSource",
                                                        "recursive": true
                                                    },
                                                    "sink": {
                                                        "type": "BlobSink"
                                                    },
                                                    "enableStaging": false
                                                },
                                                "inputs": [
                                                    {
                                                        "referenceName": "DS_BLOB_ForEach_Input_Landing_AnyFile",
                                                        "type": "DatasetReference",
                                                        "parameters": {}
                                                    }
                                                ],
                                                "outputs": [
                                                    {
                                                        "referenceName": "DS_Copy_AnyFile_Landing_To_Archive",
                                                        "type": "DatasetReference",
                                                        "parameters": {}
                                                    }
                                                ]
                                            },
                                            {
                                                "name": "ACT_05_Delete_TextFile_BlbLanding",
                                                "type": "Delete",
                                                "dependsOn": [
                                                    {
                                                        "activity": "ACT_04_Copy_TextFile_BlbLanding_to_Archive",
                                                        "dependencyConditions": [
                                                            "Succeeded"
                                                        ]
                                                    }
                                                ],
                                                "policy": {
                                                    "timeout": "7.00:00:00",
                                                    "retry": 0,
                                                    "retryIntervalInSeconds": 30,
                                                    "secureOutput": false,
                                                    "secureInput": false
                                                },
                                                "userProperties": [],
                                                "typeProperties": {
                                                    "dataset": {
                                                        "referenceName": "DS_BLOB_ForEach_Input_Landing_AnyFile",
                                                        "type": "DatasetReference",
                                                        "parameters": {}
                                                    },
                                                    "enableLogging": false
                                                }
                                            }
                                        ]
                                    }
                                },
                                {
                                    "name": "ACT_If_Condition_GZip_File",
                                    "description": "Activity If Condition to filter only GZip Files",
                                    "type": "IfCondition",
                                    "dependsOn": [],
                                    "userProperties": [],
                                    "typeProperties": {
                                        "expression": {
                                            "value": "@if(endswith(item().name,'.gz'),'true','false')",
                                            "type": "Expression"
                                        },
                                        "ifTrueActivities": [
                                            {
                                                "name": "ACT_Copy_GZip_BlbLanding_To_BlbPrepreocess",
                                                "description": "Azure GZip file from Blob_Landing to Blob_Preprocess",
                                                "type": "Copy",
                                                "dependsOn": [],
                                                "policy": {
                                                    "timeout": "7.00:00:00",
                                                    "retry": 0,
                                                    "retryIntervalInSeconds": 30,
                                                    "secureOutput": false,
                                                    "secureInput": false
                                                },
                                                "userProperties": [],
                                                "typeProperties": {
                                                    "source": {
                                                        "type": "BlobSource",
                                                        "recursive": true
                                                    },
                                                    "sink": {
                                                        "type": "BlobSink"
                                                    },
                                                    "enableStaging": false
                                                },
                                                "inputs": [
                                                    {
                                                        "referenceName": "DS_BLOB_Input_Landing_GZip_File",
                                                        "type": "DatasetReference",
                                                        "parameters": {}
                                                    }
                                                ],
                                                "outputs": [
                                                    {
                                                        "referenceName": "DS_BLOB_Output_Preprocess",
                                                        "type": "DatasetReference",
                                                        "parameters": {}
                                                    }
                                                ]
                                            },
                                            {
                                                "name": "ACT_Copy_GZip_File_BlbLanding_To__File_BlbArchive",
                                                "type": "Copy",
                                                "dependsOn": [
                                                    {
                                                        "activity": "ACT_Copy_GZip_BlbLanding_To_BlbPrepreocess",
                                                        "dependencyConditions": [
                                                            "Succeeded"
                                                        ]
                                                    }
                                                ],
                                                "policy": {
                                                    "timeout": "7.00:00:00",
                                                    "retry": 0,
                                                    "retryIntervalInSeconds": 30,
                                                    "secureOutput": false,
                                                    "secureInput": false
                                                },
                                                "userProperties": [],
                                                "typeProperties": {
                                                    "source": {
                                                        "type": "BlobSource",
                                                        "recursive": true
                                                    },
                                                    "sink": {
                                                        "type": "BlobSink"
                                                    },
                                                    "enableStaging": false
                                                },
                                                "inputs": [
                                                    {
                                                        "referenceName": "DS_BLOB_ForEach_Input_Landing_AnyFile",
                                                        "type": "DatasetReference",
                                                        "parameters": {}
                                                    }
                                                ],
                                                "outputs": [
                                                    {
                                                        "referenceName": "DS_Copy_AnyFile_Landing_To_Archive",
                                                        "type": "DatasetReference",
                                                        "parameters": {}
                                                    }
                                                ]
                                            },
                                            {
                                                "name": "ACT_Delete_GZip_File_BlbLanding",
                                                "type": "Delete",
                                                "dependsOn": [
                                                    {
                                                        "activity": "ACT_Copy_GZip_File_BlbLanding_To__File_BlbArchive",
                                                        "dependencyConditions": [
                                                            "Succeeded"
                                                        ]
                                                    }
                                                ],
                                                "policy": {
                                                    "timeout": "7.00:00:00",
                                                    "retry": 0,
                                                    "retryIntervalInSeconds": 30,
                                                    "secureOutput": false,
                                                    "secureInput": false
                                                },
                                                "userProperties": [],
                                                "typeProperties": {
                                                    "dataset": {
                                                        "referenceName": "DS_BLOB_ForEach_Input_Landing_AnyFile",
                                                        "type": "DatasetReference",
                                                        "parameters": {}
                                                    },
                                                    "enableLogging": false
                                                }
                                            }
                                        ]
                                    }
                                },
                                {
                                    "name": "ACT_If_Condition_ZIP_File",
                                    "description": "Activity If Condition to filter only Zip Files",
                                    "type": "IfCondition",
                                    "dependsOn": [],
                                    "userProperties": [],
                                    "typeProperties": {
                                        "expression": {
                                            "value": "@if(endswith(item().name,'.zip'),'true','false')",
                                            "type": "Expression"
                                        },
                                        "ifTrueActivities": [
                                            {
                                                "name": "ACT_Copy_Zip_BlbLanding_To_BlbPrepreocess",
                                                "description": "Azure Zip file from Blob_Landing to Blob_Preprocess",
                                                "type": "Copy",
                                                "dependsOn": [],
                                                "policy": {
                                                    "timeout": "7.00:00:00",
                                                    "retry": 0,
                                                    "retryIntervalInSeconds": 30,
                                                    "secureOutput": false,
                                                    "secureInput": false
                                                },
                                                "userProperties": [],
                                                "typeProperties": {
                                                    "source": {
                                                        "type": "BlobSource",
                                                        "recursive": true
                                                    },
                                                    "sink": {
                                                        "type": "BlobSink"
                                                    },
                                                    "enableStaging": false
                                                },
                                                "inputs": [
                                                    {
                                                        "referenceName": "DS_BLOB_Input_Landing_Zip_File",
                                                        "type": "DatasetReference",
                                                        "parameters": {}
                                                    }
                                                ],
                                                "outputs": [
                                                    {
                                                        "referenceName": "DS_BLOB_Output_Preprocess",
                                                        "type": "DatasetReference",
                                                        "parameters": {}
                                                    }
                                                ]
                                            },
                                            {
                                                "name": "ACT_Copy_ZipFile_BlbLanding_To_BlBArchive",
                                                "description": "Acitivity to Copy Zip File to BlbLanding to Archive Folder",
                                                "type": "Copy",
                                                "dependsOn": [
                                                    {
                                                        "activity": "ACT_Copy_Zip_BlbLanding_To_BlbPrepreocess",
                                                        "dependencyConditions": [
                                                            "Succeeded"
                                                        ]
                                                    }
                                                ],
                                                "policy": {
                                                    "timeout": "7.00:00:00",
                                                    "retry": 0,
                                                    "retryIntervalInSeconds": 30,
                                                    "secureOutput": false,
                                                    "secureInput": false
                                                },
                                                "userProperties": [],
                                                "typeProperties": {
                                                    "source": {
                                                        "type": "BlobSource",
                                                        "recursive": true
                                                    },
                                                    "sink": {
                                                        "type": "BlobSink"
                                                    },
                                                    "enableStaging": false
                                                },
                                                "inputs": [
                                                    {
                                                        "referenceName": "DS_BLOB_ForEach_Input_Landing_AnyFile",
                                                        "type": "DatasetReference",
                                                        "parameters": {}
                                                    }
                                                ],
                                                "outputs": [
                                                    {
                                                        "referenceName": "DS_Copy_AnyFile_Landing_To_Archive",
                                                        "type": "DatasetReference",
                                                        "parameters": {}
                                                    }
                                                ]
                                            },
                                            {
                                                "name": "ACT_Delete_Zip_File_BlbLanding",
                                                "description": "ACT_Delete_GZip_File_BlbLanding",
                                                "type": "Delete",
                                                "dependsOn": [
                                                    {
                                                        "activity": "ACT_Copy_ZipFile_BlbLanding_To_BlBArchive",
                                                        "dependencyConditions": [
                                                            "Succeeded"
                                                        ]
                                                    }
                                                ],
                                                "policy": {
                                                    "timeout": "7.00:00:00",
                                                    "retry": 0,
                                                    "retryIntervalInSeconds": 30,
                                                    "secureOutput": false,
                                                    "secureInput": false
                                                },
                                                "userProperties": [],
                                                "typeProperties": {
                                                    "dataset": {
                                                        "referenceName": "DS_BLOB_ForEach_Input_Landing_AnyFile",
                                                        "type": "DatasetReference",
                                                        "parameters": {}
                                                    },
                                                    "enableLogging": false
                                                }
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    }
                ],
                "annotations": []
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/PL_Data_Ingestion_With_ABLB')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "description": "1)",
                "activities": [
                    {
                        "name": "ACT_GetMetadata_Landing",
                        "type": "GetMetadata",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "dataset": {
                                "referenceName": "DS_GetMetadata_ABLB_Londing_AllFiles",
                                "type": "DatasetReference",
                                "parameters": {
                                    "Input": "@pipeline().parameters.landing_file_full_path"
                                }
                            },
                            "fieldList": [
                                "childItems"
                            ]
                        }
                    },
                    {
                        "name": "ACT_Filter_Text_Files",
                        "type": "Filter",
                        "dependsOn": [
                            {
                                "activity": "ACT_GetMetadata_Landing",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "items": {
                                "value": "@activity('ACT_GetMetadata_Landing').output.childItems",
                                "type": "Expression"
                            },
                            "condition": {
                                "value": "@endswith(item().name,'.txt')",
                                "type": "Expression"
                            }
                        }
                    },
                    {
                        "name": "ACT_Filter_Zip_Files",
                        "type": "Filter",
                        "dependsOn": [
                            {
                                "activity": "ACT_GetMetadata_Landing",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "items": {
                                "value": "@activity('ACT_GetMetadata_Landing').output.childItems",
                                "type": "Expression"
                            },
                            "condition": {
                                "value": "@endswith(item().name,'.zip')",
                                "type": "Expression"
                            }
                        }
                    },
                    {
                        "name": "ACT_Filter_GZip_Files",
                        "type": "Filter",
                        "dependsOn": [
                            {
                                "activity": "ACT_GetMetadata_Landing",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "items": {
                                "value": "@activity('ACT_GetMetadata_Landing').output.childItems",
                                "type": "Expression"
                            },
                            "condition": {
                                "value": "@endswith(item().name,'.gz')",
                                "type": "Expression"
                            }
                        }
                    },
                    {
                        "name": "ACT_ForEach_TextFile",
                        "type": "ForEach",
                        "dependsOn": [
                            {
                                "activity": "ACT_Filter_Text_Files",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "items": {
                                "value": "@activity('ACT_Filter_Text_Files').output.value",
                                "type": "Expression"
                            },
                            "isSequential": true,
                            "activities": [
                                {
                                    "name": "ACT_CopyData_ABLB_Text_LandingToPreprocess",
                                    "description": "Activity to Copy Data Textfile from Landing To Preprocess Container",
                                    "type": "Copy",
                                    "dependsOn": [],
                                    "policy": {
                                        "timeout": "7.00:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "source": {
                                            "type": "BlobSource",
                                            "recursive": true
                                        },
                                        "sink": {
                                            "type": "BlobSink"
                                        },
                                        "enableStaging": false
                                    },
                                    "inputs": [
                                        {
                                            "referenceName": "DS_CopySrc_ABLB_Landing_AnyFiles",
                                            "type": "DatasetReference",
                                            "parameters": {
                                                "ABLB_Landing": "@pipeline().parameters.landing_file_full_path"
                                            }
                                        }
                                    ],
                                    "outputs": [
                                        {
                                            "referenceName": "DS_CopySink_ABLB_Preprocess_TextFiles",
                                            "type": "DatasetReference",
                                            "parameters": {
                                                "ABLB_Preprocess": "@pipeline().parameters.preprocess_file_full_path"
                                            }
                                        }
                                    ]
                                },
                                {
                                    "name": "ACT_CopyData_ABLB_Text_LandingToArchive",
                                    "description": "Activity to Copy Data Textfile from Landing To Archive Container",
                                    "type": "Copy",
                                    "dependsOn": [
                                        {
                                            "activity": "ACT_CopyData_ABLB_Text_LandingToPreprocess",
                                            "dependencyConditions": [
                                                "Succeeded"
                                            ]
                                        }
                                    ],
                                    "policy": {
                                        "timeout": "7.00:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "source": {
                                            "type": "BlobSource",
                                            "recursive": true
                                        },
                                        "sink": {
                                            "type": "BlobSink"
                                        },
                                        "enableStaging": false
                                    },
                                    "inputs": [
                                        {
                                            "referenceName": "DS_CopySrc_ABLB_Landing_AnyFiles",
                                            "type": "DatasetReference",
                                            "parameters": {
                                                "ABLB_Landing": "@pipeline().parameters.landing_file_full_path"
                                            }
                                        }
                                    ],
                                    "outputs": [
                                        {
                                            "referenceName": "DS_CopySink_ABLB_Archive_AnyFiles",
                                            "type": "DatasetReference",
                                            "parameters": {
                                                "ABLB_Archive": "@pipeline().parameters.archive_file_full_path"
                                            }
                                        }
                                    ]
                                },
                                {
                                    "name": "ACT_Delete_TextFile_Landing",
                                    "description": "Activity to delete the Text file in ABLB Landing Container",
                                    "type": "Delete",
                                    "dependsOn": [
                                        {
                                            "activity": "ACT_CopyData_ABLB_Text_LandingToArchive",
                                            "dependencyConditions": [
                                                "Succeeded"
                                            ]
                                        }
                                    ],
                                    "policy": {
                                        "timeout": "7.00:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "dataset": {
                                            "referenceName": "DS_CopySrc_ABLB_Landing_AnyFiles",
                                            "type": "DatasetReference",
                                            "parameters": {
                                                "ABLB_Landing": "@pipeline().parameters.landing_file_full_path"
                                            }
                                        },
                                        "enableLogging": false
                                    }
                                },
                                {
                                    "name": "ACT_IfCondition_IsCosmosDB1",
                                    "description": "Activity to check Write Log Report\ntrue - Do write Log Report\nfalse - Do not write Log Report",
                                    "type": "IfCondition",
                                    "dependsOn": [
                                        {
                                            "activity": "ACT_CopyData_ABLB_Text_LandingToPreprocess",
                                            "dependencyConditions": [
                                                "Succeeded"
                                            ]
                                        }
                                    ],
                                    "userProperties": [],
                                    "typeProperties": {
                                        "expression": {
                                            "value": "@variables('IsCosmosDB')",
                                            "type": "Expression"
                                        },
                                        "ifTrueActivities": [
                                            {
                                                "name": "ACT_Custom_LogReport_TextFile_Landing To Preprocess",
                                                "description": "Activity to Log Report of Copy Landing to Preprocess  in Cosmos DB",
                                                "type": "Custom",
                                                "dependsOn": [],
                                                "policy": {
                                                    "timeout": "7.00:00:00",
                                                    "retry": 0,
                                                    "retryIntervalInSeconds": 30,
                                                    "secureOutput": false,
                                                    "secureInput": false
                                                },
                                                "userProperties": [],
                                                "typeProperties": {
                                                    "command": "Create_LogReport_CosmosDB.exe",
                                                    "resourceLinkedService": {
                                                        "referenceName": "LS_ABLB_AzureStorage",
                                                        "type": "LinkedServiceReference"
                                                    },
                                                    "folderPath": "edl-scripts/Create_LogReport",
                                                    "extendedProperties": {
                                                        "id": {
                                                            "value": "@concat(variables('id'),'Copy_LandingToPreprocess_',string(formatDateTime(utcnow(), 'yyyy-MM-dd_HH-mm-ss-fffffff')))",
                                                            "type": "Expression"
                                                        },
                                                        "File_Name": {
                                                            "value": "@item().name",
                                                            "type": "Expression"
                                                        },
                                                        "Execute_at": {
                                                            "value": "@formatDateTime(utcnow(),'yyyy-MM-dd HH:mm:ss:fffffff')",
                                                            "type": "Expression"
                                                        },
                                                        "Source_Full_Path": {
                                                            "value": "@concat(pipeline().parameters.landing_file_full_path,'/',item().name)",
                                                            "type": "Expression"
                                                        },
                                                        "Target_Full_Path": {
                                                            "value": "@concat(pipeline().parameters.preprocess_file_full_path,'/',item().name)",
                                                            "type": "Expression"
                                                        },
                                                        "Overwrite": "-",
                                                        "Exception": "-"
                                                    },
                                                    "referenceObjects": {
                                                        "linkedServices": [],
                                                        "datasets": []
                                                    }
                                                },
                                                "linkedServiceName": {
                                                    "referenceName": "LS_BatchAccount_atategtcst09",
                                                    "type": "LinkedServiceReference"
                                                }
                                            }
                                        ]
                                    }
                                },
                                {
                                    "name": "ACT_IfCondition_IsCosmosDB2",
                                    "description": "Activity to check Write Log Report\ntrue - Do write Log Report\nfalse - Do not write Log Report",
                                    "type": "IfCondition",
                                    "dependsOn": [
                                        {
                                            "activity": "ACT_CopyData_ABLB_Text_LandingToArchive",
                                            "dependencyConditions": [
                                                "Succeeded"
                                            ]
                                        }
                                    ],
                                    "userProperties": [],
                                    "typeProperties": {
                                        "expression": {
                                            "value": "@variables('IsCosmosDB')",
                                            "type": "Expression"
                                        },
                                        "ifTrueActivities": [
                                            {
                                                "name": "ACT_Custom_LogReport_TextFile_Landing To Archive",
                                                "description": "Activity to Log Report of Copy Landing To Archive Container  in Cosmos DB",
                                                "type": "Custom",
                                                "dependsOn": [],
                                                "policy": {
                                                    "timeout": "7.00:00:00",
                                                    "retry": 0,
                                                    "retryIntervalInSeconds": 30,
                                                    "secureOutput": false,
                                                    "secureInput": false
                                                },
                                                "userProperties": [],
                                                "typeProperties": {
                                                    "command": "Create_LogReport_CosmosDB.exe",
                                                    "resourceLinkedService": {
                                                        "referenceName": "LS_ABLB_AzureStorage",
                                                        "type": "LinkedServiceReference"
                                                    },
                                                    "folderPath": "edl-scripts/Create_LogReport",
                                                    "extendedProperties": {
                                                        "id": {
                                                            "value": "@concat(variables('id'),'Copy_LandingToArchive_',string(formatDateTime(utcnow(), 'yyyy-MM-dd_HH-mm-ss-fffffff')))",
                                                            "type": "Expression"
                                                        },
                                                        "File_Name": {
                                                            "value": "@item().name",
                                                            "type": "Expression"
                                                        },
                                                        "Execute_at": {
                                                            "value": "@formatDateTime(utcnow(),'yyyy-MM-dd HH:mm:ss:fffffff')",
                                                            "type": "Expression"
                                                        },
                                                        "Source_Full_Path": {
                                                            "value": "@concat(pipeline().parameters.landing_file_full_path,'/',item().name)",
                                                            "type": "Expression"
                                                        },
                                                        "Target_Full_Path": {
                                                            "value": "@concat(pipeline().parameters.archive_file_full_path,'/',item().name)",
                                                            "type": "Expression"
                                                        },
                                                        "Overwrite": "-",
                                                        "Exception": "-"
                                                    },
                                                    "referenceObjects": {
                                                        "linkedServices": [],
                                                        "datasets": []
                                                    }
                                                },
                                                "linkedServiceName": {
                                                    "referenceName": "LS_BatchAccount_atategtcst09",
                                                    "type": "LinkedServiceReference"
                                                }
                                            }
                                        ]
                                    }
                                },
                                {
                                    "name": "ACT_IfCondition_IsCosmosDB3",
                                    "description": "Activity to check Write Log Report\ntrue - Do write Log Report\nfalse - Do not write Log Report",
                                    "type": "IfCondition",
                                    "dependsOn": [
                                        {
                                            "activity": "ACT_Delete_TextFile_Landing",
                                            "dependencyConditions": [
                                                "Succeeded"
                                            ]
                                        }
                                    ],
                                    "userProperties": [],
                                    "typeProperties": {
                                        "expression": {
                                            "value": "@variables('IsCosmosDB')",
                                            "type": "Expression"
                                        },
                                        "ifTrueActivities": [
                                            {
                                                "name": "ACT_Custom_LogReport_TextFile_Delete Landing",
                                                "description": "Activity to Log Report of Delete Landing Container  in Cosmos DB",
                                                "type": "Custom",
                                                "dependsOn": [],
                                                "policy": {
                                                    "timeout": "7.00:00:00",
                                                    "retry": 0,
                                                    "retryIntervalInSeconds": 30,
                                                    "secureOutput": false,
                                                    "secureInput": false
                                                },
                                                "userProperties": [],
                                                "typeProperties": {
                                                    "command": "Create_LogReport_CosmosDB.exe",
                                                    "resourceLinkedService": {
                                                        "referenceName": "LS_ABLB_AzureStorage",
                                                        "type": "LinkedServiceReference"
                                                    },
                                                    "folderPath": "edl-scripts/Create_LogReport",
                                                    "extendedProperties": {
                                                        "id": {
                                                            "value": "@concat(variables('id'),'_Delete_Landing_',string(formatDateTime(utcnow(), 'yyyy-MM-dd_HH-mm-ss-fffffff')))",
                                                            "type": "Expression"
                                                        },
                                                        "File_Name": {
                                                            "value": "@item().name",
                                                            "type": "Expression"
                                                        },
                                                        "Execute_at": {
                                                            "value": "@formatDateTime(utcnow(),'yyyy-MM-dd HH:mm:ss:fffffff')",
                                                            "type": "Expression"
                                                        },
                                                        "Source_Full_Path": {
                                                            "value": "@concat(pipeline().parameters.landing_file_full_path,'/',item().name)",
                                                            "type": "Expression"
                                                        },
                                                        "Target_Full_Path": {
                                                            "value": "Not Applicable",
                                                            "type": "Expression"
                                                        },
                                                        "Overwrite": "-",
                                                        "Exception": {
                                                            "value": "-",
                                                            "type": "Expression"
                                                        }
                                                    },
                                                    "referenceObjects": {
                                                        "linkedServices": [],
                                                        "datasets": []
                                                    }
                                                },
                                                "linkedServiceName": {
                                                    "referenceName": "LS_BatchAccount_atategtcst09",
                                                    "type": "LinkedServiceReference"
                                                }
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    },
                    {
                        "name": "ACT_ForEach_GZipFile",
                        "description": "Activity ForEach GZip Files ",
                        "type": "ForEach",
                        "dependsOn": [
                            {
                                "activity": "ACT_Filter_GZip_Files",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "items": {
                                "value": "@activity('ACT_Filter_GZip_Files').output.value",
                                "type": "Expression"
                            },
                            "isSequential": true,
                            "activities": [
                                {
                                    "name": "ACT_Copy_ABLB_GZIP_LandingToPreprocess",
                                    "description": "Activity to Copy Data GZip file from Landing To Preprocess Container\n",
                                    "type": "Copy",
                                    "dependsOn": [],
                                    "policy": {
                                        "timeout": "7.00:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "source": {
                                            "type": "BlobSource",
                                            "recursive": true
                                        },
                                        "sink": {
                                            "type": "BlobSink"
                                        },
                                        "enableStaging": false
                                    },
                                    "inputs": [
                                        {
                                            "referenceName": "DS_CopySrc_ABLB_Landing_GZipFiles",
                                            "type": "DatasetReference",
                                            "parameters": {
                                                "Landing": "@pipeline().parameters.landing_file_full_path"
                                            }
                                        }
                                    ],
                                    "outputs": [
                                        {
                                            "referenceName": "DS_CopySink_ABLB_Preprocess_GZipFiles",
                                            "type": "DatasetReference",
                                            "parameters": {
                                                "ABLB_Preprocess": "@pipeline().parameters.preprocess_file_full_path"
                                            }
                                        }
                                    ]
                                },
                                {
                                    "name": "ACT_Copy_ABLB_GZIP_LandingToArchive",
                                    "description": "Activity to Copy Data GZip file from Landing To Archive Container\n",
                                    "type": "Copy",
                                    "dependsOn": [
                                        {
                                            "activity": "ACT_Copy_ABLB_GZIP_LandingToPreprocess",
                                            "dependencyConditions": [
                                                "Succeeded"
                                            ]
                                        }
                                    ],
                                    "policy": {
                                        "timeout": "7.00:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "source": {
                                            "type": "BlobSource",
                                            "recursive": true
                                        },
                                        "sink": {
                                            "type": "BlobSink"
                                        },
                                        "enableStaging": false
                                    },
                                    "inputs": [
                                        {
                                            "referenceName": "DS_CopySrc_ABLB_Landing_AnyFiles",
                                            "type": "DatasetReference",
                                            "parameters": {
                                                "ABLB_Landing": "@pipeline().parameters.landing_file_full_path"
                                            }
                                        }
                                    ],
                                    "outputs": [
                                        {
                                            "referenceName": "DS_CopySink_ABLB_Archive_AnyFiles",
                                            "type": "DatasetReference",
                                            "parameters": {
                                                "ABLB_Archive": "@pipeline().parameters.archive_file_full_path"
                                            }
                                        }
                                    ]
                                },
                                {
                                    "name": "ACT_Delete_ABLB_GZIP_Landing",
                                    "description": "Activity to delete Data GZip file from Landing Container\n",
                                    "type": "Delete",
                                    "dependsOn": [
                                        {
                                            "activity": "ACT_Copy_ABLB_GZIP_LandingToArchive",
                                            "dependencyConditions": [
                                                "Succeeded"
                                            ]
                                        }
                                    ],
                                    "policy": {
                                        "timeout": "7.00:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "dataset": {
                                            "referenceName": "DS_CopySrc_ABLB_Landing_AnyFiles",
                                            "type": "DatasetReference",
                                            "parameters": {
                                                "ABLB_Landing": "@pipeline().parameters.landing_file_full_path"
                                            }
                                        },
                                        "recursive": true,
                                        "enableLogging": false
                                    }
                                },
                                {
                                    "name": "If Condition4",
                                    "type": "IfCondition",
                                    "dependsOn": [
                                        {
                                            "activity": "ACT_Copy_ABLB_GZIP_LandingToPreprocess",
                                            "dependencyConditions": [
                                                "Succeeded"
                                            ]
                                        }
                                    ],
                                    "userProperties": [],
                                    "typeProperties": {
                                        "expression": {
                                            "value": "@variables('IsCosmosDB')",
                                            "type": "Expression"
                                        },
                                        "ifTrueActivities": [
                                            {
                                                "name": "ACT_Custom_LogReport_GZipFile_Landing To Preprocess",
                                                "description": "Activity to create Log Report in Cosmos DB",
                                                "type": "Custom",
                                                "dependsOn": [],
                                                "policy": {
                                                    "timeout": "7.00:00:00",
                                                    "retry": 0,
                                                    "retryIntervalInSeconds": 30,
                                                    "secureOutput": false,
                                                    "secureInput": false
                                                },
                                                "userProperties": [],
                                                "typeProperties": {
                                                    "command": "Create_LogReport_CosmosDB.exe",
                                                    "resourceLinkedService": {
                                                        "referenceName": "LS_ABLB_AzureStorage",
                                                        "type": "LinkedServiceReference"
                                                    },
                                                    "folderPath": "edl-scripts/Create_LogReport",
                                                    "extendedProperties": {
                                                        "id": {
                                                            "value": "@concat(variables('id'),'Copy_LandingToPreprocess_',string(formatDateTime(utcnow(), 'yyyy-MM-dd_HH-mm-ss-fffffff')))",
                                                            "type": "Expression"
                                                        },
                                                        "File_Name": {
                                                            "value": "@item().name",
                                                            "type": "Expression"
                                                        },
                                                        "Execute_at": {
                                                            "value": "@formatDateTime(utcnow(),'yyyy-MM-dd HH:mm:ss:fffffff')",
                                                            "type": "Expression"
                                                        },
                                                        "Source_Full_Path": {
                                                            "value": "@concat(pipeline().parameters.landing_file_full_path,'/',item().name)",
                                                            "type": "Expression"
                                                        },
                                                        "Target_Full_Path": {
                                                            "value": "@concat(pipeline().parameters.preprocess_file_full_path,'/',item().name)",
                                                            "type": "Expression"
                                                        },
                                                        "Overwrite": {
                                                            "value": "-",
                                                            "type": "Expression"
                                                        },
                                                        "Exception": {
                                                            "value": "-",
                                                            "type": "Expression"
                                                        }
                                                    },
                                                    "referenceObjects": {
                                                        "linkedServices": [],
                                                        "datasets": []
                                                    }
                                                },
                                                "linkedServiceName": {
                                                    "referenceName": "LS_BatchAccount_atategtcst09",
                                                    "type": "LinkedServiceReference"
                                                }
                                            }
                                        ]
                                    }
                                },
                                {
                                    "name": "IfCondition1",
                                    "type": "IfCondition",
                                    "dependsOn": [
                                        {
                                            "activity": "ACT_Copy_ABLB_GZIP_LandingToArchive",
                                            "dependencyConditions": [
                                                "Succeeded"
                                            ]
                                        }
                                    ],
                                    "userProperties": [],
                                    "typeProperties": {
                                        "expression": {
                                            "value": "@variables('IsCosmosDB')",
                                            "type": "Expression"
                                        },
                                        "ifTrueActivities": [
                                            {
                                                "name": "ACT_Custom_LogReport_GZipFile_Landing To Archive",
                                                "description": "Activity to create Log Report in Cosmos DB",
                                                "type": "Custom",
                                                "dependsOn": [],
                                                "policy": {
                                                    "timeout": "7.00:00:00",
                                                    "retry": 0,
                                                    "retryIntervalInSeconds": 30,
                                                    "secureOutput": false,
                                                    "secureInput": false
                                                },
                                                "userProperties": [],
                                                "typeProperties": {
                                                    "command": "Create_LogReport_CosmosDB.exe",
                                                    "resourceLinkedService": {
                                                        "referenceName": "LS_ABLB_AzureStorage",
                                                        "type": "LinkedServiceReference"
                                                    },
                                                    "folderPath": "edl-scripts/Create_LogReport",
                                                    "extendedProperties": {
                                                        "id": {
                                                            "value": "@concat(variables('id'),'Copy_LandingToArchive_',string(formatDateTime(utcnow(), 'yyyy-MM-dd_HH-mm-ss-fffffff')))",
                                                            "type": "Expression"
                                                        },
                                                        "File_Name": {
                                                            "value": "@item().name",
                                                            "type": "Expression"
                                                        },
                                                        "Execute_at": {
                                                            "value": "@formatDateTime(utcnow(),'yyyy-MM-dd HH:mm:ss:fffffff')",
                                                            "type": "Expression"
                                                        },
                                                        "Source_Full_Path": {
                                                            "value": "@concat(pipeline().parameters.landing_file_full_path,'/',item().name)",
                                                            "type": "Expression"
                                                        },
                                                        "Target_Full_Path": {
                                                            "value": "@concat(pipeline().parameters.archive_file_full_path,'/',item().name)",
                                                            "type": "Expression"
                                                        },
                                                        "Overwrite": {
                                                            "value": "-",
                                                            "type": "Expression"
                                                        },
                                                        "Exception": {
                                                            "value": "-",
                                                            "type": "Expression"
                                                        }
                                                    },
                                                    "referenceObjects": {
                                                        "linkedServices": [],
                                                        "datasets": []
                                                    }
                                                },
                                                "linkedServiceName": {
                                                    "referenceName": "LS_BatchAccount_atategtcst09",
                                                    "type": "LinkedServiceReference"
                                                }
                                            }
                                        ]
                                    }
                                },
                                {
                                    "name": "IfCondition2",
                                    "type": "IfCondition",
                                    "dependsOn": [
                                        {
                                            "activity": "ACT_Delete_ABLB_GZIP_Landing",
                                            "dependencyConditions": [
                                                "Succeeded"
                                            ]
                                        }
                                    ],
                                    "userProperties": [],
                                    "typeProperties": {
                                        "expression": {
                                            "value": "@variables('IsCosmosDB')",
                                            "type": "Expression"
                                        },
                                        "ifTrueActivities": [
                                            {
                                                "name": "ACT_Custom_LogReport_GZipFile_Delete Landing",
                                                "description": "Activity to create Log Report in Cosmos DB",
                                                "type": "Custom",
                                                "dependsOn": [],
                                                "policy": {
                                                    "timeout": "7.00:00:00",
                                                    "retry": 0,
                                                    "retryIntervalInSeconds": 30,
                                                    "secureOutput": false,
                                                    "secureInput": false
                                                },
                                                "userProperties": [],
                                                "typeProperties": {
                                                    "command": "Create_LogReport_CosmosDB.exe",
                                                    "resourceLinkedService": {
                                                        "referenceName": "LS_ABLB_AzureStorage",
                                                        "type": "LinkedServiceReference"
                                                    },
                                                    "folderPath": "edl-scripts/Create_LogReport",
                                                    "extendedProperties": {
                                                        "id": {
                                                            "value": "@concat(variables('id'),'_Delete_Landing_',string(formatDateTime(utcnow(), 'yyyy-MM-dd_HH-mm-ss-fffffff')))",
                                                            "type": "Expression"
                                                        },
                                                        "File_Name": {
                                                            "value": "@item().name",
                                                            "type": "Expression"
                                                        },
                                                        "Execute_at": {
                                                            "value": "@formatDateTime(utcnow(),'yyyy-MM-dd HH:mm:ss:fffffff')",
                                                            "type": "Expression"
                                                        },
                                                        "Source_Full_Path": {
                                                            "value": "@variables('Source_Full_Path')",
                                                            "type": "Expression"
                                                        },
                                                        "Target_Full_Path": {
                                                            "value": "-",
                                                            "type": "Expression"
                                                        },
                                                        "Overwrite": {
                                                            "value": "-",
                                                            "type": "Expression"
                                                        },
                                                        "Exception": {
                                                            "value": "-",
                                                            "type": "Expression"
                                                        }
                                                    },
                                                    "referenceObjects": {
                                                        "linkedServices": [],
                                                        "datasets": []
                                                    }
                                                },
                                                "linkedServiceName": {
                                                    "referenceName": "LS_BatchAccount_atategtcst09",
                                                    "type": "LinkedServiceReference"
                                                }
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    },
                    {
                        "name": "ACT_ForEach_ZipFile",
                        "description": "Activity ForEach Zip Files ",
                        "type": "ForEach",
                        "dependsOn": [
                            {
                                "activity": "ACT_Filter_Zip_Files",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "items": {
                                "value": "@activity('ACT_Filter_Zip_Files').output.value",
                                "type": "Expression"
                            },
                            "isSequential": true,
                            "activities": [
                                {
                                    "name": "ACT_Copy_ABLB_Zip_LandingToPreprocess",
                                    "description": "Activity to Copy Data Zip file from Landing To Preprocess Container",
                                    "type": "Copy",
                                    "dependsOn": [],
                                    "policy": {
                                        "timeout": "7.00:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "source": {
                                            "type": "BlobSource",
                                            "recursive": true
                                        },
                                        "sink": {
                                            "type": "BlobSink"
                                        },
                                        "enableStaging": false
                                    },
                                    "inputs": [
                                        {
                                            "referenceName": "DS_CopySrc_ABLB_Preprocess_ZipFiles",
                                            "type": "DatasetReference",
                                            "parameters": {
                                                "ABLB_Landing": "@pipeline().parameters.landing_file_full_path"
                                            }
                                        }
                                    ],
                                    "outputs": [
                                        {
                                            "referenceName": "DS_CopySink_ABLB_Preprocess_ZipFiles",
                                            "type": "DatasetReference",
                                            "parameters": {
                                                "ABLB_Preprocess": "@pipeline().parameters.preprocess_file_full_path"
                                            }
                                        }
                                    ]
                                },
                                {
                                    "name": "ACT_Copy_ABLB_Zip_LandingToArchive",
                                    "description": "Activity to Copy Data Zip file from Landing To Archive Container",
                                    "type": "Copy",
                                    "dependsOn": [
                                        {
                                            "activity": "ACT_Copy_ABLB_Zip_LandingToPreprocess",
                                            "dependencyConditions": [
                                                "Succeeded"
                                            ]
                                        }
                                    ],
                                    "policy": {
                                        "timeout": "7.00:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "source": {
                                            "type": "BlobSource",
                                            "recursive": true
                                        },
                                        "sink": {
                                            "type": "BlobSink"
                                        },
                                        "enableStaging": false
                                    },
                                    "inputs": [
                                        {
                                            "referenceName": "DS_CopySrc_ABLB_Landing_AnyFiles",
                                            "type": "DatasetReference",
                                            "parameters": {
                                                "ABLB_Landing": "@pipeline().parameters.landing_file_full_path"
                                            }
                                        }
                                    ],
                                    "outputs": [
                                        {
                                            "referenceName": "DS_CopySink_ABLB_Archive_AnyFiles",
                                            "type": "DatasetReference",
                                            "parameters": {
                                                "ABLB_Archive": "@pipeline().parameters.archive_file_full_path"
                                            }
                                        }
                                    ]
                                },
                                {
                                    "name": "ACT_Dele_ABLB_Zip_Landing",
                                    "description": "",
                                    "type": "Delete",
                                    "dependsOn": [
                                        {
                                            "activity": "ACT_Copy_ABLB_Zip_LandingToArchive",
                                            "dependencyConditions": [
                                                "Succeeded"
                                            ]
                                        }
                                    ],
                                    "policy": {
                                        "timeout": "7.00:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "dataset": {
                                            "referenceName": "DS_CopySrc_ABLB_Landing_AnyFiles",
                                            "type": "DatasetReference",
                                            "parameters": {
                                                "ABLB_Landing": "@pipeline().parameters.landing_file_full_path"
                                            }
                                        },
                                        "enableLogging": false
                                    }
                                },
                                {
                                    "name": "If Condition1",
                                    "type": "IfCondition",
                                    "dependsOn": [
                                        {
                                            "activity": "ACT_Copy_ABLB_Zip_LandingToPreprocess",
                                            "dependencyConditions": [
                                                "Succeeded"
                                            ]
                                        }
                                    ],
                                    "userProperties": [],
                                    "typeProperties": {
                                        "expression": {
                                            "value": "@variables('IsCosmosDB')",
                                            "type": "Expression"
                                        },
                                        "ifTrueActivities": [
                                            {
                                                "name": "ACT_Custom_LogReport_ZipFile_Landing To Preprocess",
                                                "description": "Activity to create Log Report in Cosmos DB",
                                                "type": "Custom",
                                                "dependsOn": [],
                                                "policy": {
                                                    "timeout": "7.00:00:00",
                                                    "retry": 0,
                                                    "retryIntervalInSeconds": 30,
                                                    "secureOutput": false,
                                                    "secureInput": false
                                                },
                                                "userProperties": [],
                                                "typeProperties": {
                                                    "command": "Create_LogReport_CosmosDB.exe",
                                                    "resourceLinkedService": {
                                                        "referenceName": "LS_ABLB_AzureStorage",
                                                        "type": "LinkedServiceReference"
                                                    },
                                                    "folderPath": "edl-scripts/Create_LogReport",
                                                    "extendedProperties": {
                                                        "id": {
                                                            "value": "@concat(variables('id'),'Copy_LandingToPreprocess_',string(formatDateTime(utcnow(), 'yyyy-MM-dd_HH-mm-ss-fffffff')))",
                                                            "type": "Expression"
                                                        },
                                                        "File_Name": {
                                                            "value": "@item().name",
                                                            "type": "Expression"
                                                        },
                                                        "Execute_at": {
                                                            "value": "@formatDateTime(utcnow(),'yyyy-MM-dd HH:mm:ss:fffffff')",
                                                            "type": "Expression"
                                                        },
                                                        "Source_Full_Path": {
                                                            "value": "@concat(pipeline().parameters.landing_file_full_path,'/',item().name)",
                                                            "type": "Expression"
                                                        },
                                                        "Target_Full_Path": {
                                                            "value": "@concat(pipeline().parameters.preprocess_file_full_path,'/',item().name)",
                                                            "type": "Expression"
                                                        },
                                                        "Overwrite": {
                                                            "value": "-",
                                                            "type": "Expression"
                                                        },
                                                        "Exception": {
                                                            "value": "-",
                                                            "type": "Expression"
                                                        }
                                                    },
                                                    "referenceObjects": {
                                                        "linkedServices": [],
                                                        "datasets": []
                                                    }
                                                },
                                                "linkedServiceName": {
                                                    "referenceName": "LS_BatchAccount_atategtcst09",
                                                    "type": "LinkedServiceReference"
                                                }
                                            }
                                        ]
                                    }
                                },
                                {
                                    "name": "If Condition2",
                                    "type": "IfCondition",
                                    "dependsOn": [
                                        {
                                            "activity": "ACT_Copy_ABLB_Zip_LandingToArchive",
                                            "dependencyConditions": [
                                                "Succeeded"
                                            ]
                                        }
                                    ],
                                    "userProperties": [],
                                    "typeProperties": {
                                        "expression": {
                                            "value": "@variables('IsCosmosDB')",
                                            "type": "Expression"
                                        },
                                        "ifTrueActivities": [
                                            {
                                                "name": "ACT_Custom_LogReport_ZipFile_Landing To Archive",
                                                "description": "Activity to create Log Report in Cosmos DB",
                                                "type": "Custom",
                                                "dependsOn": [],
                                                "policy": {
                                                    "timeout": "7.00:00:00",
                                                    "retry": 0,
                                                    "retryIntervalInSeconds": 30,
                                                    "secureOutput": false,
                                                    "secureInput": false
                                                },
                                                "userProperties": [],
                                                "typeProperties": {
                                                    "command": "Create_LogReport_CosmosDB.exe",
                                                    "resourceLinkedService": {
                                                        "referenceName": "LS_ABLB_AzureStorage",
                                                        "type": "LinkedServiceReference"
                                                    },
                                                    "folderPath": "edl-scripts/Create_LogReport",
                                                    "extendedProperties": {
                                                        "id": {
                                                            "value": "@concat(variables('id'),'Copy_LandingToArchive_',string(formatDateTime(utcnow(), 'yyyy-MM-dd_HH-mm-ss-fffffff')))",
                                                            "type": "Expression"
                                                        },
                                                        "File_Name": {
                                                            "value": "@item().name",
                                                            "type": "Expression"
                                                        },
                                                        "Execute_at": {
                                                            "value": "@formatDateTime(utcnow(),'yyyy-MM-dd HH:mm:ss:fffffff')",
                                                            "type": "Expression"
                                                        },
                                                        "Source_Full_Path": {
                                                            "value": "@concat(pipeline().parameters.landing_file_full_path,'/',item().name)",
                                                            "type": "Expression"
                                                        },
                                                        "Target_Full_Path": {
                                                            "value": "@concat(pipeline().parameters.archive_file_full_path,'/',item().name)",
                                                            "type": "Expression"
                                                        },
                                                        "Overwrite": {
                                                            "value": "-",
                                                            "type": "Expression"
                                                        },
                                                        "Exception": {
                                                            "value": "-",
                                                            "type": "Expression"
                                                        }
                                                    },
                                                    "referenceObjects": {
                                                        "linkedServices": [],
                                                        "datasets": []
                                                    }
                                                },
                                                "linkedServiceName": {
                                                    "referenceName": "LS_BatchAccount_atategtcst09",
                                                    "type": "LinkedServiceReference"
                                                }
                                            }
                                        ]
                                    }
                                },
                                {
                                    "name": "If Condition3",
                                    "type": "IfCondition",
                                    "dependsOn": [
                                        {
                                            "activity": "ACT_Dele_ABLB_Zip_Landing",
                                            "dependencyConditions": [
                                                "Succeeded"
                                            ]
                                        }
                                    ],
                                    "userProperties": [],
                                    "typeProperties": {
                                        "expression": {
                                            "value": "@variables('IsCosmosDB')",
                                            "type": "Expression"
                                        },
                                        "ifTrueActivities": [
                                            {
                                                "name": "ACT_Custom_LogReport_ZipFile_Delete Landing",
                                                "description": "Activity to create Log Report in Cosmos DB",
                                                "type": "Custom",
                                                "dependsOn": [],
                                                "policy": {
                                                    "timeout": "7.00:00:00",
                                                    "retry": 0,
                                                    "retryIntervalInSeconds": 30,
                                                    "secureOutput": false,
                                                    "secureInput": false
                                                },
                                                "userProperties": [],
                                                "typeProperties": {
                                                    "command": "Create_LogReport_CosmosDB.exe",
                                                    "resourceLinkedService": {
                                                        "referenceName": "LS_ABLB_AzureStorage",
                                                        "type": "LinkedServiceReference"
                                                    },
                                                    "folderPath": "edl-scripts/Create_LogReport",
                                                    "extendedProperties": {
                                                        "id": {
                                                            "value": "@concat(variables('id'),'_Delete_Landing_',string(formatDateTime(utcnow(), 'yyyy-MM-dd_HH-mm-ss-fffffff')))",
                                                            "type": "Expression"
                                                        },
                                                        "File_Name": {
                                                            "value": "@item().name",
                                                            "type": "Expression"
                                                        },
                                                        "Execute_at": {
                                                            "value": "@formatDateTime(utcnow(),'yyyy-MM-dd HH:mm:ss:fffffff')",
                                                            "type": "Expression"
                                                        },
                                                        "Source_Full_Path": {
                                                            "value": "@concat(pipeline().parameters.landing_file_full_path,'/',item().name)",
                                                            "type": "Expression"
                                                        },
                                                        "Target_Full_Path": {
                                                            "value": "Not Applicable",
                                                            "type": "Expression"
                                                        },
                                                        "Overwrite": {
                                                            "value": "-",
                                                            "type": "Expression"
                                                        },
                                                        "Exception": {
                                                            "value": "-",
                                                            "type": "Expression"
                                                        }
                                                    },
                                                    "referenceObjects": {
                                                        "linkedServices": [],
                                                        "datasets": []
                                                    }
                                                },
                                                "linkedServiceName": {
                                                    "referenceName": "LS_BatchAccount_atategtcst09",
                                                    "type": "LinkedServiceReference"
                                                }
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    },
                    {
                        "name": "ACT_Custom_MoveFile_PreProcesToRawdata",
                        "description": "Activity Custom_Execute_Batch for execute Dot Net Application to Data Ingestion from Preprocess to Rawdata Container",
                        "type": "Custom",
                        "dependsOn": [
                            {
                                "activity": "ACT_ForEach_ZipFile",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            },
                            {
                                "activity": "ACT_ForEach_TextFile",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            },
                            {
                                "activity": "ACT_ForEach_GZipFile",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "command": "Data_Ingestion.exe",
                            "resourceLinkedService": {
                                "referenceName": "LS_ABLB_AzureStorage",
                                "type": "LinkedServiceReference"
                            },
                            "folderPath": "edl-scripts/Data_Ingestion",
                            "extendedProperties": {
                                "SourceContainer": {
                                    "value": "@pipeline().parameters.preprocess_file_full_path",
                                    "type": "Expression"
                                },
                                "TargetContainer": {
                                    "value": "@pipeline().parameters.rawdata_file_full_path",
                                    "type": "Expression"
                                }
                            },
                            "referenceObjects": {
                                "linkedServices": [],
                                "datasets": []
                            }
                        },
                        "linkedServiceName": {
                            "referenceName": "LS_BatchAccount_atategtcst09",
                            "type": "LinkedServiceReference"
                        }
                    }
                ],
                "parameters": {
                    "landing_file_full_path": {
                        "type": "String",
                        "defaultValue": "landing/EDW"
                    },
                    "preprocess_file_full_path": {
                        "type": "String",
                        "defaultValue": "preprocess/EDW"
                    },
                    "rawdata_file_full_path": {
                        "type": "String",
                        "defaultValue": "rawdata/EDW"
                    },
                    "archive_file_full_path": {
                        "type": "string",
                        "defaultValue": "archive/EDW"
                    },
                    "ADLS_Input_file_full_path": {
                        "type": "string",
                        "defaultValue": "root/inbound/EDW"
                    }
                },
                "variables": {
                    "id": {
                        "type": "String",
                        "defaultValue": "LogReport_"
                    },
                    "File_Name": {
                        "type": "String",
                        "defaultValue": "File_Name"
                    },
                    "Execute_at": {
                        "type": "String",
                        "defaultValue": "Execute_at"
                    },
                    "Source_Full_Path": {
                        "type": "String",
                        "defaultValue": "Source_Full_Path"
                    },
                    "Target_Full_Path": {
                        "type": "String",
                        "defaultValue": "Target_Full_Path"
                    },
                    "Overwrite": {
                        "type": "String",
                        "defaultValue": "Overwrite"
                    },
                    "Exception": {
                        "type": "String",
                        "defaultValue": "Exception"
                    },
                    "IsCosmosDB": {
                        "type": "Boolean"
                    }
                },
                "annotations": []
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/DS_CopySrc_ABLB_Landing_AnyFiles')]",
                "[concat(variables('factoryId'), '/datasets/DS_CopySink_ABLB_Preprocess_TextFiles')]",
                "[concat(variables('factoryId'), '/datasets/DS_CopySink_ABLB_Archive_AnyFiles')]",
                "[concat(variables('factoryId'), '/datasets/DS_CopySrc_ABLB_Landing_GZipFiles')]",
                "[concat(variables('factoryId'), '/datasets/DS_CopySink_ABLB_Preprocess_GZipFiles')]",
                "[concat(variables('factoryId'), '/datasets/DS_CopySrc_ABLB_Preprocess_ZipFiles')]",
                "[concat(variables('factoryId'), '/datasets/DS_CopySink_ABLB_Preprocess_ZipFiles')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/PL_Create_LogReport_CosmosDB')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "description": "Pipeline to create a log report in Cosmos Database",
                "activities": [
                    {
                        "name": "ACT_Custom_Create_LogReport_",
                        "description": "Activity to create Log Report in Cosmos DB",
                        "type": "Custom",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "command": "Create_LogReport_CosmosDB.exe",
                            "resourceLinkedService": {
                                "referenceName": "LS_ABLB_AzureStorage",
                                "type": "LinkedServiceReference"
                            },
                            "folderPath": "edl-scripts/Create_LogReport",
                            "extendedProperties": {
                                "id": {
                                    "value": "@concat(variables('id'),string(formatDateTime(utcnow(), 'yyyy-MM-dd_HH-mm-ss-fffffff')))",
                                    "type": "Expression"
                                },
                                "File_Name": {
                                    "value": "@variables('File_Name')",
                                    "type": "Expression"
                                },
                                "Execute_at": {
                                    "value": "@variables('Execute_at')",
                                    "type": "Expression"
                                },
                                "Source_Full_Path": {
                                    "value": "@variables('Source_Full_Path')",
                                    "type": "Expression"
                                },
                                "Target_Full_Path": {
                                    "value": "@variables('Target_Full_Path')",
                                    "type": "Expression"
                                },
                                "Overwrite": {
                                    "value": "@variables('Overwrite')",
                                    "type": "Expression"
                                },
                                "Exception": {
                                    "value": "@variables('Exception')",
                                    "type": "Expression"
                                }
                            },
                            "referenceObjects": {
                                "linkedServices": [],
                                "datasets": []
                            }
                        },
                        "linkedServiceName": {
                            "referenceName": "LS_BatchAccount_atategtcst09",
                            "type": "LinkedServiceReference"
                        }
                    }
                ],
                "variables": {
                    "id": {
                        "type": "String",
                        "defaultValue": "LogReport_"
                    },
                    "File_Name": {
                        "type": "String",
                        "defaultValue": "File_Name"
                    },
                    "Execute_at": {
                        "type": "String",
                        "defaultValue": "Execute_at"
                    },
                    "Source_Full_Path": {
                        "type": "String",
                        "defaultValue": "Source_Full_Path"
                    },
                    "Target_Full_Path": {
                        "type": "String",
                        "defaultValue": "Target_Full_Path"
                    },
                    "Overwrite": {
                        "type": "String",
                        "defaultValue": "Overwrite"
                    },
                    "Exception": {
                        "type": "String",
                        "defaultValue": "Exception"
                    }
                },
                "annotations": []
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/PL_DataIngestion_ABLB2ADLS')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "ACT_CopyData_ABLB_to_ADLS",
                        "type": "Copy",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "BlobSource",
                                "recursive": true
                            },
                            "sink": {
                                "type": "AzureDataLakeStoreSink"
                            },
                            "enableStaging": false
                        },
                        "inputs": [
                            {
                                "referenceName": "DS_ABLB_Landing_BDW",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "DS_ADLS_BDW",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    }
                ],
                "parameters": {
                    "Source": {
                        "type": "string",
                        "defaultValue": "landing/CDW"
                    },
                    "Target": {
                        "type": "string",
                        "defaultValue": "root/CDW"
                    }
                },
                "annotations": []
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/DS_ABLB_Landing_BDW')]",
                "[concat(variables('factoryId'), '/datasets/DS_ADLS_BDW')]"
            ]
        }
    ]
}